<script lang="jsx">
  import { defineComponent } from 'vue';

  export default defineComponent({
    name: 'bt-button',
    methods: {
      g() {
        const Co = 'input';
        return <Co type="text" placeholder="15" />;
      },
    },
    render() {
      return (
        <div>
          <button>我是导出的组件</button>
          {this.g()}
        </div>
      );
    },
  });
</script>
