<template>
  <div id="app">
    <bt-button></bt-button>
  </div>
</template>

<script>
  // import btButton from './components/bt.vue';

  export default {
    name: 'App',
    components: {
      // btButton,
    },
  };
</script>

<style>
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>
